{
  "name": "{{.PackageName}}",
  "private": true,
  "scripts": {
    "dev": "gopage dev",
    "build": "gopage build"
  }{{if .React}},
  "dependencies": {
{{- if eq .Engine "preact"}}
    "preact": "^10.26.0"
{{- else}}
    "react": "^19.1.0",
    "react-dom": "^19.1.0"
{{- end}}
  }{{end}}{{if or .NpmVersion (and .React (ne .Engine "preact"))}},
  "devDependencies": {
{{- if and .React (ne .Engine "preact")}}
    "@types/react": "^19.1.0",
    "@types/react-dom": "^19.1.0"{{if .NpmVersion}},{{end}}
{{- end}}
{{- if .NpmVersion}}
    "@apptivitypl/gopage": "{{.NpmVersion}}"
{{- end}}
  }{{end}}
}
